<div class="teacher-info-content">
    <div class="teacher-profile-pic">
        <img src="../../../../../assets/images/users/teachers/teacher.jpg" alt="Teacher photo" class="rounded-circle shadow-lg">
    </div>
    <div class="teacher-short-desc text-center">
        <h4>Mr. Nihal Perera</h4>
        <span>BSc. (Hons) in Mathematics, Diploma in Education</span>
    </div>
    <div class="teacher-desc">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur dolorem non illo, commodi provident enim doloremque numquam magni iure tempore cumque atque recusandae velit reprehenderit debitis impedit ea itaque. Esse?
        </p>
        <p>Joined on <span>2021-01-01</span></p>
        <div class="contact-info">
            <h6><i class="material-icons float-left mr-2 md-21">chat</i> Contacts</h6>
            <ul>
                <li>0771234567</li>
                <li>nihalperera@gmail.com</li>
            </ul>
        </div>
        <div class="teacher-stats">
            <h6><i class="material-icons float-left mr-2 md-21">trending_up</i> Stats</h6>
            <ul>
                <li>487 <span>Students</span></li>
                <li>03 <span>Classes</span></li>
            </ul>
        </div>
    </div>
</div>