<div class="class-summery">
    <h4>Combined Mathematics</h4>
    <span>Every Tuesday at 2.00 P.M. to 6.00 P.M.</span>
    <div class="class-fee-status d-md-flex d-lg-flex align-items-center justify-content-between">
        <span>Monthly fee</span>
        <span class="class-price">Rs.2500.00</span>
    </div>
    <br>
    <div class="class-stats-info mb-4">
        <h5><i class="material-icons float-left md-27 mr-2">trending_up</i> Stats</h5>
        <hr>
        <ul>
            <li>&#10070; Number of students &#8594; <span>120</span></li>
            <li>&#10070; Total study materials &#8594; <span>38</span></li>
            <li>&#10070; Total assignments &#8594; <span>12</span></li>
        </ul>
    </div>
    <div class="revenue p-3">
        <span class="text-muted">This month revenue</span>
        <h4 class="mt-1 mb-0">Rs. 300,000.00</h4>
    </div>
</div>