<div class="tab-title mb-2">
    <p class="mb-0">Upload assignments before their due dates</p>
</div>
<hr>
<div class="study-file row">
    <div class="col-sm-6 col-md-3 col-lg-2">
        <a href="../../../assets/images/logo.png" download class="text-center">
            <div class="download-file-div py-3">
                <i class="material-icons md-42">assignment</i><br>
                <small>Assignment 01</small><br>
                <span>Deadline: 31-01-2021</span>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
        <a href="../../../assets/images/logo.png" download class="text-center">
            <div class="download-file-div py-3">
                <i class="material-icons md-42">assignment</i><br>
                <small>Assignment 02</small><br>
                <span>Deadline: 31-01-2021</span>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
        <a href="../../../assets/images/logo.png" download class="text-center">
            <div class="download-file-div py-3">
                <i class="material-icons md-42">assignment</i><br>
                <small>Assignment 03</small><br>
                <span>Deadline: 31-01-2021</span>
            </div>
        </a>
    </div>
</div>