<ul class="nav nav-tabs" id="studentClassTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#last-class" role="tab" aria-controls="last-class" aria-selected="true">Last Class</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#study-material" role="tab" aria-controls="study-material" aria-selected="false">Study Materials</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#assignment" role="tab" aria-controls="assignment" aria-selected="false">Assignments</a>
    </li>
</ul>
<div class="tab-content" id="studentClassTabContent">
    <div class="tab-pane fade show active" id="last-class" role="tabpanel" aria-labelledby="last-class-tab">
        <div class="tab-title mb-2">
            <p class="mb-0">Complex Numbers Revision</p>
            <small>28/01/2021</small>
        </div>
        <hr>
        <div class="last-class-note">
            <h6>Class Note:</h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis sunt quam minus ratione eius, earum adipisci, facere pariatur inventore dolor cumque minima et placeat perspiciatis consectetur voluptatum, soluta itaque impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam illo dolore ex sapiente, facilis asperiores velit soluta expedita unde recusandae. Aut, minus hic. Recusandae quas aliquid dolorem? Dolore, in culpa!
            </p>
        </div>
        <div class="last-class-video">
            <video src="../../../assets/videos/video1.mp4" controls width="100%"></video>
        </div>
    </div>
    <div class="tab-pane fade" id="study-material" role="tabpanel" aria-labelledby="study-material-tab">
        <div class="tab-title mb-2">
            <p class="mb-0">Download following study materials for this class</p>
        </div>
        <hr>
        <div class="study-file row">
            <div class="col-sm-6 col-md-3 col-lg-2">
                <a href="../../../assets/images/logo.png" download class="text-center">
                    <div class="download-file-div py-3">
                        <i class="material-icons md-42">description</i><br>
                        <small>L1 - ත්‍රිකෝණමිතිය</small> 
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2">
                <a href="../../../assets/images/logo.png" download class="text-center">
                    <div class="download-file-div py-3">
                        <i class="material-icons md-42">description</i><br>
                        <small>L2 - අවකලනය</small> 
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2">
                <a href="../../../assets/images/logo.png" download class="text-center">
                    <div class="download-file-div py-3">
                        <i class="material-icons md-42">description</i><br>
                        <small>L3 - අනුකලනය</small> 
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="assignment" role="tabpanel" aria-labelledby="assignment-tab">
        <div class="tab-title mb-2">
            <p class="mb-0">Download and complete following assignments before their due dates</p>
        </div>
        <hr>
        <div class="study-file row">
            <div class="col-sm-6 col-md-3 col-lg-2">
                <a href="../../../assets/images/logo.png" download class="text-center">
                    <div class="download-file-div py-3">
                        <i class="material-icons md-42">assignment</i><br>
                        <small>Assignment 01</small><br>
                        <span>Deadline: 31-01-2021</span>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2">
                <a href="../../../assets/images/logo.png" download class="text-center">
                    <div class="download-file-div py-3">
                        <i class="material-icons md-42">assignment</i><br>
                        <small>Assignment 02</small><br>
                        <span>Deadline: 31-01-2021</span>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2">
                <a href="../../../assets/images/logo.png" download class="text-center">
                    <div class="download-file-div py-3">
                        <i class="material-icons md-42">assignment</i><br>
                        <small>Assignment 03</small><br>
                        <span>Deadline: 31-01-2021</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>