<section class="control-panel-content-section">
    <div class="jumbotron custom-shadow-div bg-white">
        <div class="px-3">
          <h1 class="display-4">Hello, Welcome!</h1>
          <p class="lead">This is the admin portal that allows administrators to manage all the data related to MASTERY.LK. All the available features for administrators can be found on the left side panel.</p>
        </div>
    </div>
    <br>
    <div class="content-title">
        <h3 class="mb-0">Dashboard</h3>
        <span>All the system statistics that admins need to know</span>
    </div>
    <div class="control-panel-content mt-4">
        <app-dashboard-nums></app-dashboard-nums>
        <br>
    </div>
</section>