<section class="control-panel-content-section">
    <div class="content-title">
        <h3 class="mb-0">Dashboard</h3>
        <span>All the system statistics that admins need to know</span>
    </div>
    <div class="control-panel-content mt-4">
        <app-dashboard-nums></app-dashboard-nums>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <app-bar-chart></app-bar-chart>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
    </div>
</section>