<div class="tab-title mb-2">
    <p class="mb-0">Upload study materials for this class</p>
</div>
<hr>
<ngx-dropzone (change)="onSelect($event)" [multiple]="false" [accept]="'video/*'">
    <ngx-dropzone-label>
        <i class="material-icons md-55">cloud_upload</i>
        <h6>Drag and drop file(s) here</h6>
        <h6>or</h6>
        <small class="px-3 py-1 bg-primary text-white rounded">Browse file(s)</small>
    </ngx-dropzone-label>
    <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>
            {{ f.name }} ({{ f.type }})
            <input type="hidden" name="fileName" value="{{f.name}}">
        </ngx-dropzone-label>
    </ngx-dropzone-video-preview>
</ngx-dropzone>
<div class="study-file row mt-4">
    <div class="col-sm-6 col-md-3 col-lg-2">
        <a href="../../../assets/images/logo.png" download class="text-center">
            <div class="download-file-div py-3">
                <i class="material-icons md-42">description</i><br>
                <small>L1 - ත්‍රිකෝණමිතිය</small> 
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
        <a href="../../../assets/images/logo.png" download class="text-center">
            <div class="download-file-div py-3">
                <i class="material-icons md-42">description</i><br>
                <small>L2 - අවකලනය</small> 
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
        <a href="../../../assets/images/logo.png" download class="text-center">
            <div class="download-file-div py-3">
                <i class="material-icons md-42">description</i><br>
                <small>L3 - අනුකලනය</small> 
            </div>
        </a>
    </div>
</div>