.personalized-data h5 {
  font-family: cp_m;
  margin-bottom: 20px;
  color: var(--gray);
}
.personalized-data .personal-data-div {
  align-items: center;
  border-radius: 10px;
  background: var(--theme-gray);
  margin-bottom: 20px;
}
.personalized-data .personal-data-div:last-child {
  margin-bottom: 0;
}
.personalized-data .personal-data-div .data-left {
  padding-left: 40px;
}
.personalized-data .personal-data-div .data-left span {
  font-family: cp_m;
  font-size: 20px;
}
.personalized-data .personal-data-div .data-right {
  background: var(--theme-orange);
  border-radius: 50px 15px 15px 50px;
}
.personalized-data .personal-data-div .data-right span {
  font-family: cp_l;
  font-size: 3.5rem;
  color: #fff;
}
.form-check-input {
  width: 1.1rem;
  height: 1.1rem;
}
.form-check-label {
  margin-top: 1.55px;
  margin-left: 5px;
}
form > button {
  border-radius: 7px;
}
