<div class="custom-shadow-div bg-white p-4">
    <div class="personalized-data">
        <h5>Personalized Statistics</h5>
        <div class="personal-data-div d-flex">
            <div class="data-left w-50">
                <i class="material-icons md-30 float-left mr-3">local_library</i>
                <span *ngIf="isTeacher">My Classes</span>
                <div *ngIf="isTeacher"><small class="text-muted"><i>Both Approved and Pending Classes</i></small></div>
                <span *ngIf="isStudent">Joined Classes</span>
            </div>
            <div class="data-right w-50 text-center">
                <span *ngIf="isTeacher">{{my_classes}}</span>
                <span *ngIf="isStudent">{{joined_classes}}</span>
            </div>
        </div>
        <!-- <div class="personal-data-div d-flex" *ngIf="isTeacher">
            <div class="data-left w-50">
                <i class="material-icons md-30 float-left mr-3">people</i>
                <span>Students</span>
            </div>
            <div class="data-right w-50 text-center">
                <span>{{total_students}}</span>
            </div>
        </div> -->
    </div>
</div>
<div class="custom-shadow-div p-4 bg-white" style="margin-top: 30px; border: 2px solid red;">
    <div class="personalized-data">
        <h5>Update Account Credentials</h5>
        <hr>
        <p class="text-muted">You can change the email and the password of your mastery account in this
            section. Check the below <strong>"Confirm credentials update"</strong> checkbox to proceed with the
            credential updating
            process.</p>

        <div class="alert alert-warning">
            <strong>NOTE:</strong><br>Once you update the credentials, you will automatically logged out. Please
            re-login with new
            credentials.
        </div>
        <div class="mt-4">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="show-ep-update" (click)="onChange($event)">
                <label class="form-check-label" for="show-ep-update"><strong>Confirm credentials
                        update</strong></label>
            </div>

            <div class="alert alert-success alert-dismissible text-left mt-3" *ngIf="successAlert">
                <i class="material-icons float-left mr-2">check_circle</i> <strong>Credentials Updated
                    Succesfully.</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible text-left mt-3" *ngIf="errorAlert">
                <i class="material-icons float-left mr-2">cancel</i>
                <strong>Process failed! Something went wrong.</strong> <br> Please try again shortly.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="mb-3 py-2 text-center" role="status" *ngIf="pendingAlert">
                <img src="../../../assets/images/loaders/spin_sm.gif" alt="loading spinner sm">
                <small class="ml-2 text-muted">Updating... Please wait.</small>
            </div>

            <form class="mt-4" (ngSubmit)="updateCredentials()" [formGroup]="credUpdateForm" #credForm="ngForm">
                <div class="form-group">
                    <input type="text" class="form-control credUpdateElems" formControlName="updateEmail"
                        placeholder="New Email Address"
                        [ngClass]="{'is-invalid':cred_update.updateEmail.errors && cred_update.updateEmail.touched}"
                        [attr.disabled]="isDisabled? false : null" required>
                    <div *ngIf="cred_update.updateEmail.invalid && (cred_update.updateEmail.dirty || cred_update.updateEmail.touched)"
                        class="text-danger text-left error-msg-div">
                        <div *ngIf="cred_update.updateEmail.errors.required"><small>Email is required</small></div>
                        <div *ngIf="cred_update.updateEmail.errors.email"><small>Please enter a valid email</small>
                        </div>
                    </div>
                    <div class="text-danger text-left error-msg-div"
                        *ngIf="cred_update.updateEmail.hasError('emailExist')">
                        <small>Email already exists. Please try another.</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-6">
                        <input type="password" class="form-control credUpdateElems" formControlName="updatePassword1"
                            placeholder="New Password"
                            [ngClass]="{'is-invalid':cred_update.updatePassword1.errors && cred_update.updatePassword1.touched}"
                            [attr.disabled]="isDisabled? false : null" required>
                        <div *ngIf="cred_update.updatePassword1.invalid && (cred_update.updatePassword1.dirty || cred_update.updatePassword1.touched)"
                            class="text-danger text-left error-msg-div">
                            <div *ngIf="cred_update.updatePassword1.errors.required"><small>Password is required</small>
                            </div>
                            <div *ngIf="cred_update.updatePassword1.errors.minlength"><small>Must have at least 6
                                    characters</small></div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                        <input type="password" class="form-control credUpdateElems" formControlName="updatePassword2"
                            placeholder="Confirm New Password"
                            [ngClass]="{'is-invalid':cred_update.updatePassword2.errors && cred_update.updatePassword2.touched}"
                            [attr.disabled]="isDisabled? false : null" required>
                        <div class="text-danger text-left error-msg-div ml-3"
                            *ngIf="cred_update.updatePassword2.hasError('passwordMismatch')">
                            <small>Passwords ain't matched. Please check again.</small>
                        </div>
                        <div *ngIf="cred_update.updatePassword2.invalid && (cred_update.updatePassword2.dirty || cred_update.updatePassword2.touched)"
                            class="text-danger text-left error-msg-div">
                            <div *ngIf="cred_update.updatePassword2.errors.required"><small>Please confirm your
                                    password</small></div>
                            <div *ngIf="cred_update.updatePassword2.errors.minlength"><small>Must have minimum 6
                                    characters</small></div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success credUpdateElems"
                    [disabled]="isDisabled || credUpdateForm.invalid"><strong>Update</strong></button>
            </form>
        </div>
    </div>
</div>